/*Global*/

:root {
  --black: #0f0f0f;
  --light-color: #ffffffe8;
  --highlight: rgb(255, 138, 71);
  --white: #ffffff;
}

body {
  background: var(--black);
  color: var(--light-color);
  font-family: 'nutito';
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow-y: hidden;
}

div {
  box-sizing: border-box;
  font-size: 12px;
}

textarea,
select {
  font-family: inherit;
  font-size: small;
}

textarea:focus,
input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}

.user1_Key {
  color: rgb(42, 103, 189);
}

.user1 {
  color: rgb(42, 103, 189);
}

.user2_Key {
  color: rgb(255, 133, 2);
}

.user2 {
  color: rgb(255, 115, 60);
  background-image: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.center-x {}

.center-text {
  width: 100%;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#vue-instance {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  overflow-x: hidden;
}

/*Chat Window*/
.chat-container {
  flex: 0 0 0 70%;
  word-wrap: break-word;
  padding: 8px;
  margin-bottom: 50px;
  padding-top: 8px;
  border-top: solid 1px;
  border-left: solid 1px;
  border-color: rgb(35, 35, 35);
  overflow-y: auto;
  overflow-x: hidden;
}

.background {
  flex: 0 0 100%;
}

.message>p {
  display: block;
  flex-direction: column;
  position: relative;
  font-family: 'Nunito';
  font-size: small;
  background: #191919;
  color: #fff;
  font-weight: 600;
  width: auto;
  max-width: 70%;
  text-transform: uppercase;
  letter-spacing: 0.01ch;
  border-radius: 5px 5px 5px 0px;
}

.title-header>p {
  font-family: 'Nunito';
}

/* Info Panel */
#chatjoin {
  position: relative;
}

.info-container {
  flex: 0 0 30%;
  border: 2px solid;
  padding: 12px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}

.divider {
  padding-top: 5px;
  height: 2px;
  min-width: 200%;

  background: rgb(35, 35, 35);
  margin: 12px -12px;
  flex: 1;
}

.notification-list {
  display: block;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.notification {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 200;
  padding: 3px 0;
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.notification-timestamp {
  flex: none;
  padding-right: 12px;
  color: rgb(211, 211, 211);
}

.notification-message {
  flex: auto;
}

.keys {
  display: auto;
  font-size: small;
  overflow-x: hidden;
}

/*Container*/
.info-container {
  border-width: 1px;
  border-block-end: #0f0f0f00;
  border-color: rgb(35, 35, 35);
  text-transform: uppercase;
}

/*-----Fonts----*/
h1,
h2,
h3 {
  font-family: 'Nunito';
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
  font-weight: 300;
}

h3 {
  font-size: x-small;
  font-weight: 300;
  color: #c10060;
}

p {
  font-size: x-small;
  text-align: start;
  padding: 10px;
  font-family: 'Nunito';
}

h1,
h2,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Nunito';
  font-weight: 300;
  line-height: 1.35;
  color: #fff;
}

.keys>.dividerkey {
  padding-top: 1px;
  height: 1px;
  min-width: 100%;
  background: rgb(0, 0, 0);
  margin: auto;
  flex: 1;
}

.logo {
  position: relative;
}

.container-fluid {
  background: #0f0f0f;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 100%;
  padding: 0 1rem;
}

.navbar-inverse {
  color: #eef8ff;
  position: absolute;
  width: 100%;
  font-family: 'Nunito';
  font-size: x-large;
}

.navbara {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.room-select {
  min-height: auto;
  font-family: 'Nunito';
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.room-id {
  font-family: 'Nunito';
  font-weight: bold;
  font-size: large;
  color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 1px solid #5e5e5e;
  padding: 0.2em;
  padding-top: 20px;
}

/*.join-button*/
.join-button {
  font: normal normal 300 1.3em 'Open Sans';
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid rgb(105, 9, 57);
  border-radius: 100px;
  padding: 0.3em 1.2em;
  background-size: 200% 100%;
  background-image: linear-gradient(to right,
      #191919 50%,
      rgba(105, 9, 57) 50%);
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 40px;
  width: 130px;
}

.join-button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(105, 9, 57);
  background-position: -100% 100%;
  transform: scale(1.1);
}

/*.Laoder*/
.loader {
  width: 6em;
  height: 6em;
  font-size: 16px;
  box-sizing: border-box;
  position: absolute;
  border-top: 0.2em solid rgba(105, 9, 57);
  border-radius: 50%;
  position: relative;
  animation: rotating 3s ease-in-out infinite;
  --direction: 1;
  margin: 0 auto;
  margin-top: 100px;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.2em solid rgb(22, 108, 194);
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.2em solid rgb(193, 45, 0);
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 6em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}

/*Message Input Bar*/
.message-input {
  background-color: #0f0f0f;
  border: 0;
  color: white;
  display: flex;
  width: 100%;
  outline: 0;
  font-family: 'nunito';
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
}

/*Message boarder Animated Bar*/
.gradient-border {
  --borderWidth: 1px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  height: calc(1% + var(--borderWidth) * 1);
  width: calc(100% + var(--borderWidth) * 1);
  background: linear-gradient(60deg,
      #90571e,
      #ae503d,
      #a23654,
      #6b3875,
      #374f7e,
      #0b5e6a,
      #068473,
      #42714d);
  z-index: -1;
  animation: animatedgradient 30s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bottom-bar {
  border-top: solid 1px;
  border-color: rgb(35, 35, 35);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 48px;
}

.message-list {
  margin: 10px;
}

/*Schroll-Bar*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/*Hiden-PubKey*/
.publicKey {
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.publicKey--background {
  background: var(--black);
  position: absolute;
  width: 150%;
  height: 110%;
  right: -50%;
  top: 0;
  transition: 0.2s all center ease-in-out;
}

.publicKey--visibleToggle {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.publicKey--visibleToggle-eye {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 25px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  overflow: hidden;
}

.publicKey--visibleToggle-eye.open {
  transition: 0.1s all ease-out;
}

.publicKey--visibleToggle-eye.close {
  transition: 0.2s 0.2s all ease-in-out;
}

.publicKey--visibleToggle-eye img {
  width: 100%;
}

.publicKey--visibleToggle:checked~.publicKey--background {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.publicKey--visibleToggle:checked~.publicKey--visibleToggle-eye.close {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.publicKey--visibleToggle:checked~.publicKey--visibleToggle-eye.close {
  opacity: 0;
}

.apps {
  display: block;
}

body div.chat-block div.content div.row--input #emotion_icon {
  transition: all .3s
}

body div.chat-block div.content div.row--input #emotion_icon.hide {
  display: none
}

body div.chat-block div.content div.row--input #emotion_close {
  display: none;
  transition: all .3s
}

body div.chat-block div.content div.row--input #emotion_close.show {
  display: inherit
}

body div.chat-block div.content div.row--input div.emoticons-popover {
  display: none;
  opacity: 0;
  position: absolute;
  width: 250px;
  max-height: 250px;
  background-color: #1c242f;
  border-radius: 6px;
  right: -1%;
  bottom: 12%;
  border-radius: 6px;
  box-shadow: 0 5px 20px #171717;
  z-index: 1
}

body div.chat-block div.content div.row--input div.emoticons-popover ul {
  overflow: auto;
  max-height: 200px;
  padding: 8px
}

body div.chat-block div.content div.row--input div.emoticons-popover ul:before {
  display: block;
  position: absolute;
  bottom: -10px;
  right: 20px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(180deg);
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #1c242f transparent
}

body div.chat-block div.content div.row--input div.emoticons-popover ul li {
  display: inline-block;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer
}

body div.chat-block div.content div.row--input div.emoticons-popover ul li:hover {
  background-color: #2b3544
}

body div.chat-block div.content div.row--input div.emoticons-popover ul li img {
  width: 22px
}

/*SideBar*/
.side-box {
  display: block;
  width: 700px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -300px;
}

.side-box:after,
.side-panel:after {
  display: block;
  content: "";
  clear: both;
}

.side-menu-box {
  width: 100px;
  height: 100%;
  background: var(--black)
  border: solid 1px;
  border-color: rgb(35, 35, 35);
  border-block-end: #0f0f0f00;
}

.side-menu-item:hover,
.side-menu-item.active {
  color: #b2e281;
}
.side-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu-item {
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  color: #f2f2f2;
  cursor: pointer;
}

.side-menu-item.active {
  color: #b2e281;
}
