/*Global*/

:root {
  --black: #0f0f0f;
  --light-color: #ffffffe8;
  --highlight: rgb(255, 138, 71);
  --white: #ffffff;
}

body {
  background: var(--black);
  color: var(--light-color);
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

div {
  box-sizing: border-box;
  font-size: 12px;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: small;
}

textarea:focus,
input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.green {
  color: rgb(45, 139, 255);
}

.red {
  color: rgb(255, 115, 60);
}

.yellow {
  color: yellow;
}

.center-x {
  margin: 0 auto;
}

.center-text {
  width: 100%;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#vue-instance {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  overflow-x: hidden;
}

/*Chat Window*/

.chat-container {
  flex: 0 0 60%;
  word-wrap: break-word;
  overflow-x: hidden;
  padding: 0px;
  margin-bottom: 0px;
}

.background {
  background-image: url(background.png);
  flex: 0 0 100%;
}

.message>p {
  min-width: 200px;
  display: inline-block;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: small;
  background: #000000;
  color: #fff;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  padding: 7px;
  width: auto;
  border: 1px solid #eef8ff;
  max-width: 70%;
  text-transform: uppercase;
}

.keyId {
  color: rgb(255, 133, 2);
}

.title-header>p {
  font-family: 'Nunito', sans-serif;
}

/* Info Panel */

#chatjoin {
  position: relative;
}

.info-container {
  flex: 0 0 40%;
  border: solid 1px var(--light-color);
  padding: 12px;
  overflow-x: hidden;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}

.divider {
  padding-top: 1px;
  height: 2px;
  min-width: 200%;
  background: rgb(0, 0, 0);
  margin: 12px -12px;
  flex: 1;
}

.notification-list {
  display: block;
  flex-direction: column;
  padding-bottom: 20px;
  flex: 1 0 40%;
}

.notification {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 200;
  padding: 3px 0;
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.notification-timestamp {
  flex: 0 15%;
  padding-right: 12px;
  color: rgb(211, 211, 211);
}

.notification-message {
  flex: auto;
}

.notification:last-child {
  margin-bottom: 24px;
}

.keys {
  display: auto;
  font-size: small;
  overflow-x: hidden;
}

/*Container*/

.info-container {
  border-width: 2px;
  border-block-end: #0f0f0f00;
  border-color: rgb(0, 0, 0);
}

/*Fonts*/

h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
  font-weight: 300;
}

h3 {
  font-size: x-small;
  font-weight: 300;
}

p {
  font-size: xx-small;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.35;
  color: #fff;
}

.keys>.dividerkey {
  padding-top: 1px;
  height: 1px;
  min-width: 100%;
  background: rgb(0, 0, 0);
  margin: 12px -12px;
  flex: 1;
}

.logo {
  position: relative;
}

.container-fluid {
  background: #0f0f0f;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 100%;
  padding: 0 1rem;
}

.navbar-inverse {
  color: #eef8ff;
  position: fixed top;
  overflow: hidden;
  width: 100%;
  top: 0;
}

.navbara {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.room-select {
  display: inline-flex;
  min-height: auto;
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: auto;
}

.room-input {
  flex: 0 60%;
  background: black;
  border: none;
  border-bottom: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
  border-left: 1px solid var(--light-color);
  color: var(--light-color);
  padding: 4px;
}

.yellow-button {
  flex: 0 0 30%;
  background: none;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  cursor: pointer;
}

.yellow-button:hover {
  background: var(--highlight);
  color: var(--black);
}

.yellow>a {
  color: var(--highlight);
}

.loader {
  border: 4px solid black;
  border-top: 4px solid var(--highlight);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Message Input Bar*/

.message-input {
  background: none;
  border: 0;
  color: white;
  display: inline;
  width: 100%;
  outline: 0;
  resize: none !important;
}

.bottom-bar {
  border-top: solid 2px;
  border-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 48px;
}

.message-list {
  margin-bottom: 400px;
}

/*Schroll-Bar*/

::-webkit-scrollbar {
  width: 0px;
  overflow: hidden;
}
