/*Global*/

:root {
  --black: #0f0f0f;
  --light-color: #ffffffe8;
  --highlight: rgb(255, 138, 71);
  --white: #ffffff;
}

body {
  background: var(--black);
  color: var(--light-color);
  font-family: 'nutito';
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

div {
  box-sizing: border-box;
  font-size: 12px;
}


textarea,
select {
  font-family: inherit;
  font-size: small;
}

textarea:focus,
input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.green {
  color: rgb(45, 139, 255);
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}

.red {
  color: rgb(255, 115, 60);
  background-image:"";
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.yellow {
  color: yellow;
}

.center-x {
  margin: 0 auto;
}

.center-text {
  width: 100%;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#vue-instance {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  overflow-x: hidden;
}

/*Chat Window*/
.chat-container {
  flex: 0 0 60%;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 8px;
  margin-bottom: 50px;
  padding-top: 8px;
  border-top: solid 5px;
  border-left: solid 5px;
  border-color: #000000;
  overflow-y: scroll;
}

.background {
  flex: 0 0 100%;
}

.message>p {
  min-width: 200px;
  display: inline-block;
  position: relative;
  font-family: 'Nunito';
  font-size: small;
  background: #191919;
  color: #fff;
  font-weight: 600;
  padding: 5px;
  width: auto;
  border: 1px solid #eef8ff;
  max-width: 70%;
  text-transform: uppercase;
  letter-spacing: 0.01ch;
  border-radius: 5px 5px 5px 0px;
}

.keyId {
  color: rgb(255, 133, 2);
}

.title-header>p {
  font-family: 'Nunito';
}

/* Info Panel */
#chatjoin {
  position: relative;
}

.info-container {
  flex: 0 0 40%;
  border: 2px solid;
  padding: 12px;
  overflow-x: hidden;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}

.divider {
  padding-top: 5px;
  height: 2px;
  min-width: 200%;
  background: rgb(0, 0, 0);
  margin: 12px -12px;
  flex: 1;
}

.notification-list {
  display: block;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.notification {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 200;
  padding: 3px 0;
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.notification-timestamp {
  flex: none;
  padding-right: 12px;
  color: rgb(211, 211, 211);
}

.notification-message {
  flex: auto;
}

.notification:last-child {
  margin-bottom: 24px;
}

.keys {
  display: auto;
  font-size: small;
  overflow-x: scroll;
}

/*Container*/
.info-container {
  border-width: 5px;
  border-block-end: #0f0f0f00;
  border-color: rgb(0, 0, 0);
  text-transform: uppercase;
}

/*-----Fonts----*/
h1,
h2,
h3 {
  font-family: 'Nunito';
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
  font-weight: 300;
}

h3 {
  font-size: x-small;
  font-weight: 300;
  color: #c10060;
}

p {
  font-size: x-small;
  text-align: start;
  padding: 10px;
  font-family: 'Nunito';
}

h1,
h2,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Nunito';
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.35;
  color: #fff;

}

.keys>.dividerkey {
  padding-top: 1px;
  height: 1px;
  min-width: 100%;
  background: rgb(0, 0, 0);
  margin: 12px -12px;
  flex: 1;
}

.logo {
  position: relative;
}

.container-fluid {
  background: #0f0f0f;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 100%;
  padding: 0 1rem;
}

.navbar-inverse {
  color: #eef8ff;
  position: absolute;
  width: 100%;
  font-family: 'Nunito';
  font-size: x-large;
}

.navbara {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.room-select {
  min-height: auto;
  font-family: 'Nunito';
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.room-id {
  font-family: 'Nunito';
  font-weight: bold;
  font-size: large;
  color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 1px solid #5e5e5e;
  padding: 0.2em;
}

/*.join-button*/
.join-button {
	font:normal normal 300 1.3em 'Open Sans';
	text-decoration:none;
  color:rgb(255, 255, 255);
  text-align: center;
	border:1px solid rgb(105, 9, 57);
	border-radius:100px;
	padding: .3em 1.2em;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, #191919 50%, rgba(105, 9, 57) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s,
	color .5s ease 0s,
  background-color .5s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 40px;
  width: 130px;
}

.join-button:hover {
	color:rgba(255, 255, 255, 1);
	background-color:rgba(105, 9, 57);
  background-position: -100% 100%;
  transform: scale(1.1);
}

/*.Laoder*/
.loader {
  border: 4px solid black;
  border-top: 4px solid var(--highlight);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Message Input Bar*/
.message-input {
  background-color: #0f0f0f;
  border: 0;
  color: white;
  display: flex;
  width: 100%;
  outline: 0;
  font-family: "nunito";
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
}

/*Message Animated Bar*/
.gradient-border {
  --borderWidth: 1px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  height: calc(1% + var(--borderWidth) * 1);
  width: calc(100% + var(--borderWidth) * 1);
  background: linear-gradient(60deg, #90571e, #ae503d, #a23654, #6b3875, #374f7e, #0b5e6a, #068473, #42714d);
  z-index: -1;
  animation: animatedgradient 59s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bottom-bar {
  border-top: solid 5px;
  border-left: solid 5px;
  border-right: solid 5px;
  border-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 48px;
}

.message-list {
  margin-bottom: 400px;
  margin: 10px 0;
}

/*Schroll-Bar*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
